* {
    /* Responsive, Inclus la bordure et le padding dans la taille de la boîte */
    /* box-sizing: border-box; */
    /* Provisoire */
    /* border: 1px dashed white; */
    /* background-color: rgba(0, 0, 0, 0.1); */
}

body{
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color:white;
    margin: 0;
    font-size: large;
}

header{
    background-color: rgb(48, 188, 55);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.menu_element{
   
    justify-content: center;
}

.button_menu{
    margin:80px;
    text-decoration: double;
    color: white;
    
}

.art-grid{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

h1, h2, h3,h4,h5,h6{
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
   
}

h1{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.art__header p{
    min-height: 70px;
}

.footer__main{
    
    background-color: rgb(48, 188, 55);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

button{
    
    background-color: green;
    border-radius: 25px;
    padding:16px;
    color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);

}

.form-login {
    padding-bottom: 50px;
    gap: 16px;
}

.column{
    flex-direction: column;
}


.sticky{
    position: sticky;
    top:20px;
}

/* SIZING */
.mw-1200 {
    max-width: 1200px;
}

.mw-600 {
    max-width: 600px;
}

/* SPACING */
.m-auto {
    margin: auto;
}

.p-1 {
    padding: 16px; /*1em = 1rem = 16px*/
    justify-content: space-around;
}

/* FLEX Parent - container */
.d-flex {
    display: flex;
    justify-items: center;
}
.wrap {
    flex-wrap: wrap;
}

.jc-center {
    justify-content: center;
}

.jc-sa {
    justify-content: space-around;
}

.align-center{
    align-items: center;
    justify-items: space-between;
}
/* FLEX Enfant - item */

.f-1-300  {
    flex-grow: 5;
    flex-shrink: 5;
    /* remplace width */
    flex-basis: 300px;
    justify-content: space-around;
    max-height: auto;  /////
     
}

.container{
    gap: 50px;
}

.art {
   
    /* Provisoire */
    box-sizing:content-box;
    border: 1px solid rgb(01, 01, 01, 0.1) ;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 3px 3px 15px  rgb(01, 01, 02, 0.4);
   
}

.art__header {
    padding: 16px;
    border-radius: 5px;
    background-color: white;    
}

.art__summary p{
    min-height: 210px;
}

.com__system{
    justify-content: start;
    flex-direction: column-reverse;
    padding-bottom: 50px;
}
.com__summary{
    box-sizing:content-box;
    border: 1px solid rgb(01, 01, 01, 0.1) ;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 3px 3px 15px  rgb(01, 01, 02, 0.4);
    padding: 20px;
}

.admin__buttons{

}

.art__footer{

}


/* UTILITIES */
/* COMPONENTS */
/* TYPO */


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
